<div class="navbar-wagon">
  <!-- Logo -->

 <h4 class="logo">Mapa Paladar</h4>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= form_tag posts_path do %>
      <%= submit_tag 'share your content', class: 'share-content', id: 'share-btn'%>
    <% end %>

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%#= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="far fa-map"></i> <%= t(".map", default: " Map") %>
              <% end %>
            </li>
            <li>
              <%= link_to privacypolicy_path do %>
                <i class="fa fa-info"></i>  <%= t(".privacypolicy", default: " Privacy Policy") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i><%= t(".sign_out", default: " Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% end %>
  </div>

</div>

