<div id="home">
  <% unless user_signed_in? %>
    <div class="float-page">
      <div class="login-box animated slideInDown">
        <h2 class="logo">Mapa Paladar®</h2>
        <label>As melhores recomendações em um click</label>
        <div class="login-links">
          <%= render 'components/login' %>
        </div>
      <a><i class="material-icons">Made with <i class="fas fa-heart"></i> by Food Bloggers</i></a>
      </div>
    </div>

  <% end %>
  <div id="map"></div>
  
</div>

<script>
  let JSPosts = <%= @posts %>;
  let JSImages = <%= @images %>;
  let JSUsers = <%= @users %>;
  let userSignedIn = <%= user_signed_in? %>
</script>

<script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLEMAPS_API_BROWSER_KEY'] %>
<%= javascript_pack_tag "map" %>

