<div id="home">
  <% unless user_signed_in? %>
    <div class="float-page">
      <div class="login-box animated slideInDown">
        <div class='logoandslogan'>
          <h3 class="logo">Mapa Paladar®</h3>
          <p id='slogan'>As melhores dicas em um único mapa </p>
        </div>
        <div class="login-links">
          <%= render 'components/login' %>
        </div>
      <!-- <p><i class="">Made with <i class="fas fa-heart"></i> by Food Lovers</i></p> -->
      </div>
    </div>
  <% else %>
    <!-- <i class="fas fa-share"></i> -->
    <!-- <a class='btn btn-success share-class' id='share-btn'><i class="far fa-eye"></i> Meus Posts</a> -->
    <%= render 'components/sharemycontent' %>
  <% end %>

  <div id="map"></div>

</div>

<script>
  let JSPosts = <%= @posts %>;
  let JSImages = <%= @images %>;
  let JSUsers = <%= @users %>;
  let userSignedIn = <%= user_signed_in? %>
</script>

<script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLEMAPS_API_BROWSER_KEY'] %>
<%= javascript_pack_tag "map" %>

