<div id="home">
  <% unless user_signed_in? %>
    <div class="float-page">
      <div class="login-box animated slideInDown">
        <h2 class="logo">Mapa Paladar</h2>
        <div class="login-links">
          <%= render 'components/login' %>
        </div>
      </div>
    </div>

  <% end %>
  <div id="map"> </div>
</div>

<script>
  let JSPosts = <%= @posts %>;
  let JSimages = <%= @images %>;
  let userSignedIn = <%= user_signed_in? %>
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLEMAPS_API_BROWSER_KEY'] %>
<%= javascript_pack_tag "map" %>
